version: '3'
services:
  rabbitmq:
    container_name: rabbitmq
    build:
      context: ./rabbitmq
      dockerfile: ./rabbitmq.dockerfile
    ports:
      - 15672:15672
    networks:
      - tp2_net
    volumes:
      - ./rabbitmq/config.conf:/etc/rabbitmq/rabbitmq.conf:ro
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:15672"]
      interval: 5s
      timeout: 3s
      retries: 5
  
  mom-admin:
    build:
      context: ./
      dockerfile: ./server/common/message_middleware/Dockerfile
    container_name: mom-admin
    entrypoint: /admin
    restart: on-failure
    depends_on:
      rabbitmq:
        condition: service_healthy
    links:
      - rabbitmq
    networks:
      - tp2_net
  
  admin:
    build:
      context: ./
      dockerfile: ./server/admin/Dockerfile
    container_name: admin
    entrypoint: /admin
    restart: on-failure
    depends_on:
      rabbitmq:
        condition: service_healthy
    links:
      - rabbitmq
    networks:
      - tp2_net
    volumes:
      - ./config.json:/config.json
    environment:
      - PROCESS_GROUP=admin
      - ID=0
  
  post-score-adder0:
    build:
      context: ./
      dockerfile: ./server/post_score_adder/Dockerfile
    container_name: post-score-adder0
    entrypoint: /post_score_adder
    restart: on-failure
    depends_on:
      rabbitmq:
        condition: service_healthy
    links:
      - rabbitmq
    networks:
      - tp2_net
    volumes:
      - ./config.json:/config.json
    environment:
      - PROCESS_GROUP=post_score_adder
      - ID=0
  
  post-score-adder1:
    build:
      context: ./
      dockerfile: ./server/post_score_adder/Dockerfile
    container_name: post-score-adder1
    entrypoint: /post_score_adder
    restart: on-failure
    depends_on:
      rabbitmq:
        condition: service_healthy
    links:
      - rabbitmq
    networks:
      - tp2_net
    volumes:
      - ./config.json:/config.json
    environment:
      - PROCESS_GROUP=post_score_adder
      - ID=0
      - ID=1
  
  post-score-adder2:
    build:
      context: ./
      dockerfile: ./server/post_score_adder/Dockerfile
    container_name: post-score-adder2
    entrypoint: /post_score_adder
    restart: on-failure
    depends_on:
      rabbitmq:
        condition: service_healthy
    links:
      - rabbitmq
    networks:
      - tp2_net
    volumes:
      - ./config.json:/config.json
    environment:
      - PROCESS_GROUP=post_score_adder
      - ID=0
      - ID=1
      - ID=2
  
  post-score-adder3:
    build:
      context: ./
      dockerfile: ./server/post_score_adder/Dockerfile
    container_name: post-score-adder3
    entrypoint: /post_score_adder
    restart: on-failure
    depends_on:
      rabbitmq:
        condition: service_healthy
    links:
      - rabbitmq
    networks:
      - tp2_net
    volumes:
      - ./config.json:/config.json
    environment:
      - PROCESS_GROUP=post_score_adder
      - ID=0
      - ID=1
      - ID=2
      - ID=3
  
  post-digestor0:
    build:
      context: ./
      dockerfile: ./server/post_digestor/Dockerfile
    container_name: post-digestor0
    entrypoint: /post_digestor
    restart: on-failure
    depends_on:
      rabbitmq:
        condition: service_healthy
    links:
      - rabbitmq
    networks:
      - tp2_net
    volumes:
      - ./config.json:/config.json
    environment:
      - LOAD_BALANCE=4
      - PROCESS_GROUP=post_digestor
      - ID=0
  
  post-digestor1:
    build:
      context: ./
      dockerfile: ./server/post_digestor/Dockerfile
    container_name: post-digestor1
    entrypoint: /post_digestor
    restart: on-failure
    depends_on:
      rabbitmq:
        condition: service_healthy
    links:
      - rabbitmq
    networks:
      - tp2_net
    volumes:
      - ./config.json:/config.json
    environment:
      - LOAD_BALANCE=4
      - PROCESS_GROUP=post_digestor
      - ID=0
      - ID=1
  
  post-digestor2:
    build:
      context: ./
      dockerfile: ./server/post_digestor/Dockerfile
    container_name: post-digestor2
    entrypoint: /post_digestor
    restart: on-failure
    depends_on:
      rabbitmq:
        condition: service_healthy
    links:
      - rabbitmq
    networks:
      - tp2_net
    volumes:
      - ./config.json:/config.json
    environment:
      - LOAD_BALANCE=4
      - PROCESS_GROUP=post_digestor
      - ID=0
      - ID=1
      - ID=2
  
  post-digestor3:
    build:
      context: ./
      dockerfile: ./server/post_digestor/Dockerfile
    container_name: post-digestor3
    entrypoint: /post_digestor
    restart: on-failure
    depends_on:
      rabbitmq:
        condition: service_healthy
    links:
      - rabbitmq
    networks:
      - tp2_net
    volumes:
      - ./config.json:/config.json
    environment:
      - LOAD_BALANCE=4
      - PROCESS_GROUP=post_digestor
      - ID=0
      - ID=1
      - ID=2
      - ID=3
  
  post-score-avg-calculator:
    build:
      context: ./
      dockerfile: ./server/post_score_avg_calculator/Dockerfile
    container_name: post-score-avg-calculator
    entrypoint: /calculator
    restart: on-failure
    depends_on:
      rabbitmq:
        condition: service_healthy
    links:
      - rabbitmq
    networks:
      - tp2_net
    volumes:
      - ./config.json:/config.json
    environment:
      - PROCESS_GROUP=post_score_avg_calculator
      - ID=0
  
  post-above-avg-filter0:
    build:
      context: ./
      dockerfile: ./server/post_above_avg_filter/Dockerfile
    container_name: post-above-avg-filter0
    entrypoint: /filter
    restart: on-failure
    depends_on:
      rabbitmq:
        condition: service_healthy
    links:
      - rabbitmq
    networks:
      - tp2_net
    volumes:
      - ./config.json:/config.json
    environment:
      - LOAD_BALANCE=4
      - PROCESS_GROUP=post_above_avg_filter
      - ID=0
  
  post-above-avg-filter1:
    build:
      context: ./
      dockerfile: ./server/post_above_avg_filter/Dockerfile
    container_name: post-above-avg-filter1
    entrypoint: /filter
    restart: on-failure
    depends_on:
      rabbitmq:
        condition: service_healthy
    links:
      - rabbitmq
    networks:
      - tp2_net
    volumes:
      - ./config.json:/config.json
    environment:
      - LOAD_BALANCE=4
      - PROCESS_GROUP=post_above_avg_filter
      - ID=0
      - ID=1
  
  post-above-avg-filter2:
    build:
      context: ./
      dockerfile: ./server/post_above_avg_filter/Dockerfile
    container_name: post-above-avg-filter2
    entrypoint: /filter
    restart: on-failure
    depends_on:
      rabbitmq:
        condition: service_healthy
    links:
      - rabbitmq
    networks:
      - tp2_net
    volumes:
      - ./config.json:/config.json
    environment:
      - LOAD_BALANCE=4
      - PROCESS_GROUP=post_above_avg_filter
      - ID=0
      - ID=1
      - ID=2
  
  post-above-avg-filter3:
    build:
      context: ./
      dockerfile: ./server/post_above_avg_filter/Dockerfile
    container_name: post-above-avg-filter3
    entrypoint: /filter
    restart: on-failure
    depends_on:
      rabbitmq:
        condition: service_healthy
    links:
      - rabbitmq
    networks:
      - tp2_net
    volumes:
      - ./config.json:/config.json
    environment:
      - LOAD_BALANCE=4
      - PROCESS_GROUP=post_above_avg_filter
      - ID=0
      - ID=1
      - ID=2
      - ID=3
  
  best-sentiment-avg-downloader:
    build:
      context: ./
      dockerfile: ./server/best_sentiment_avg_downloader/Dockerfile
    container_name: best-sentiment-avg-downloader
    entrypoint: /downloader
    restart: on-failure
    depends_on:
      rabbitmq:
        condition: service_healthy
    links:
      - rabbitmq
    networks:
      - tp2_net
    volumes:
      - ./config.json:/config.json
    environment:
      - PROCESS_GROUP=best_sentiment_avg_downloader
      - ID=0
  
  sentiment-joiner0:
    build:
      context: ./
      dockerfile: ./server/joiner/Dockerfile
    container_name: sentiment-joiner0
    entrypoint: /joiner
    restart: on-failure
    depends_on:
      rabbitmq:
        condition: service_healthy
    links:
      - rabbitmq
    networks:
      - tp2_net
    volumes:
      - ./config.json:/config.json
    environment:
      - PROCESS_GROUP=sentiment_joiner
      - ID=0
  
  sentiment-joiner1:
    build:
      context: ./
      dockerfile: ./server/joiner/Dockerfile
    container_name: sentiment-joiner1
    entrypoint: /joiner
    restart: on-failure
    depends_on:
      rabbitmq:
        condition: service_healthy
    links:
      - rabbitmq
    networks:
      - tp2_net
    volumes:
      - ./config.json:/config.json
    environment:
      - PROCESS_GROUP=sentiment_joiner
      - ID=0
      - ID=1
  
  sentiment-joiner2:
    build:
      context: ./
      dockerfile: ./server/joiner/Dockerfile
    container_name: sentiment-joiner2
    entrypoint: /joiner
    restart: on-failure
    depends_on:
      rabbitmq:
        condition: service_healthy
    links:
      - rabbitmq
    networks:
      - tp2_net
    volumes:
      - ./config.json:/config.json
    environment:
      - PROCESS_GROUP=sentiment_joiner
      - ID=0
      - ID=1
      - ID=2
  
  sentiment-joiner3:
    build:
      context: ./
      dockerfile: ./server/joiner/Dockerfile
    container_name: sentiment-joiner3
    entrypoint: /joiner
    restart: on-failure
    depends_on:
      rabbitmq:
        condition: service_healthy
    links:
      - rabbitmq
    networks:
      - tp2_net
    volumes:
      - ./config.json:/config.json
    environment:
      - PROCESS_GROUP=sentiment_joiner
      - ID=0
      - ID=1
      - ID=2
      - ID=3
  
  student-joiner0:
    build:
      context: ./
      dockerfile: ./server/joiner/Dockerfile
    container_name: student-joiner0
    entrypoint: /joiner
    restart: on-failure
    depends_on:
      rabbitmq:
        condition: service_healthy
    links:
      - rabbitmq
    networks:
      - tp2_net
    volumes:
      - ./config.json:/config.json
    environment:
      - PROCESS_GROUP=student_joiner
      - ID=0
  
  student-joiner1:
    build:
      context: ./
      dockerfile: ./server/joiner/Dockerfile
    container_name: student-joiner1
    entrypoint: /joiner
    restart: on-failure
    depends_on:
      rabbitmq:
        condition: service_healthy
    links:
      - rabbitmq
    networks:
      - tp2_net
    volumes:
      - ./config.json:/config.json
    environment:
      - PROCESS_GROUP=student_joiner
      - ID=0
      - ID=1
  
  student-joiner2:
    build:
      context: ./
      dockerfile: ./server/joiner/Dockerfile
    container_name: student-joiner2
    entrypoint: /joiner
    restart: on-failure
    depends_on:
      rabbitmq:
        condition: service_healthy
    links:
      - rabbitmq
    networks:
      - tp2_net
    volumes:
      - ./config.json:/config.json
    environment:
      - PROCESS_GROUP=student_joiner
      - ID=0
      - ID=1
      - ID=2
  
  student-joiner3:
    build:
      context: ./
      dockerfile: ./server/joiner/Dockerfile
    container_name: student-joiner3
    entrypoint: /joiner
    restart: on-failure
    depends_on:
      rabbitmq:
        condition: service_healthy
    links:
      - rabbitmq
    networks:
      - tp2_net
    volumes:
      - ./config.json:/config.json
    environment:
      - PROCESS_GROUP=student_joiner
      - ID=0
      - ID=1
      - ID=2
      - ID=3
  
  comment-digestor0:
    build:
      context: ./
      dockerfile: ./server/comment_digestor/Dockerfile
    container_name: comment-digestor0
    entrypoint: /comment_digestor
    restart: on-failure
    depends_on:
      rabbitmq:
        condition: service_healthy
    links:
      - rabbitmq
    networks:
      - tp2_net
    volumes:
      - ./config.json:/config.json
    environment:
      - LOAD_BALANCE=4
      - PROCESS_GROUP=comment_digestor
      - ID=0
  
  comment-digestor1:
    build:
      context: ./
      dockerfile: ./server/comment_digestor/Dockerfile
    container_name: comment-digestor1
    entrypoint: /comment_digestor
    restart: on-failure
    depends_on:
      rabbitmq:
        condition: service_healthy
    links:
      - rabbitmq
    networks:
      - tp2_net
    volumes:
      - ./config.json:/config.json
    environment:
      - LOAD_BALANCE=4
      - PROCESS_GROUP=comment_digestor
      - ID=0
      - ID=1
  
  comment-digestor2:
    build:
      context: ./
      dockerfile: ./server/comment_digestor/Dockerfile
    container_name: comment-digestor2
    entrypoint: /comment_digestor
    restart: on-failure
    depends_on:
      rabbitmq:
        condition: service_healthy
    links:
      - rabbitmq
    networks:
      - tp2_net
    volumes:
      - ./config.json:/config.json
    environment:
      - LOAD_BALANCE=4
      - PROCESS_GROUP=comment_digestor
      - ID=0
      - ID=1
      - ID=2
  
  comment-digestor3:
    build:
      context: ./
      dockerfile: ./server/comment_digestor/Dockerfile
    container_name: comment-digestor3
    entrypoint: /comment_digestor
    restart: on-failure
    depends_on:
      rabbitmq:
        condition: service_healthy
    links:
      - rabbitmq
    networks:
      - tp2_net
    volumes:
      - ./config.json:/config.json
    environment:
      - LOAD_BALANCE=4
      - PROCESS_GROUP=comment_digestor
      - ID=0
      - ID=1
      - ID=2
      - ID=3
  
  post-sentiment-avg-calculator0:
    build:
      context: ./
      dockerfile: ./server/post_sentiment_avg_calculator/Dockerfile
    container_name: post-sentiment-avg-calculator0
    entrypoint: /calculator
    restart: on-failure
    depends_on:
      rabbitmq:
        condition: service_healthy
    links:
      - rabbitmq
    networks:
      - tp2_net
    volumes:
      - ./config.json:/config.json
    environment:
      - LOAD_BALANCE=4
      - PROCESS_GROUP=post_sentiment_avg_calculator
      - ID=0
  
  post-sentiment-avg-calculator1:
    build:
      context: ./
      dockerfile: ./server/post_sentiment_avg_calculator/Dockerfile
    container_name: post-sentiment-avg-calculator1
    entrypoint: /calculator
    restart: on-failure
    depends_on:
      rabbitmq:
        condition: service_healthy
    links:
      - rabbitmq
    networks:
      - tp2_net
    volumes:
      - ./config.json:/config.json
    environment:
      - LOAD_BALANCE=4
      - PROCESS_GROUP=post_sentiment_avg_calculator
      - ID=0
      - ID=1
  
  post-sentiment-avg-calculator2:
    build:
      context: ./
      dockerfile: ./server/post_sentiment_avg_calculator/Dockerfile
    container_name: post-sentiment-avg-calculator2
    entrypoint: /calculator
    restart: on-failure
    depends_on:
      rabbitmq:
        condition: service_healthy
    links:
      - rabbitmq
    networks:
      - tp2_net
    volumes:
      - ./config.json:/config.json
    environment:
      - LOAD_BALANCE=4
      - PROCESS_GROUP=post_sentiment_avg_calculator
      - ID=0
      - ID=1
      - ID=2
  
  post-sentiment-avg-calculator3:
    build:
      context: ./
      dockerfile: ./server/post_sentiment_avg_calculator/Dockerfile
    container_name: post-sentiment-avg-calculator3
    entrypoint: /calculator
    restart: on-failure
    depends_on:
      rabbitmq:
        condition: service_healthy
    links:
      - rabbitmq
    networks:
      - tp2_net
    volumes:
      - ./config.json:/config.json
    environment:
      - LOAD_BALANCE=4
      - PROCESS_GROUP=post_sentiment_avg_calculator
      - ID=0
      - ID=1
      - ID=2
      - ID=3
  
  student-comment-filter0:
    build:
      context: ./
      dockerfile: ./server/student_comment_filter/Dockerfile
    container_name: student-comment-filter0
    entrypoint: /filter
    restart: on-failure
    depends_on:
      rabbitmq:
        condition: service_healthy
    links:
      - rabbitmq
    networks:
      - tp2_net
    volumes:
      - ./config.json:/config.json
    environment:
      - LOAD_BALANCE=4
      - PROCESS_GROUP=student_comment_filter
      - ID=0
  
  student-comment-filter1:
    build:
      context: ./
      dockerfile: ./server/student_comment_filter/Dockerfile
    container_name: student-comment-filter1
    entrypoint: /filter
    restart: on-failure
    depends_on:
      rabbitmq:
        condition: service_healthy
    links:
      - rabbitmq
    networks:
      - tp2_net
    volumes:
      - ./config.json:/config.json
    environment:
      - LOAD_BALANCE=4
      - PROCESS_GROUP=student_comment_filter
      - ID=0
      - ID=1
  
  student-comment-filter2:
    build:
      context: ./
      dockerfile: ./server/student_comment_filter/Dockerfile
    container_name: student-comment-filter2
    entrypoint: /filter
    restart: on-failure
    depends_on:
      rabbitmq:
        condition: service_healthy
    links:
      - rabbitmq
    networks:
      - tp2_net
    volumes:
      - ./config.json:/config.json
    environment:
      - LOAD_BALANCE=4
      - PROCESS_GROUP=student_comment_filter
      - ID=0
      - ID=1
      - ID=2
  
  student-comment-filter3:
    build:
      context: ./
      dockerfile: ./server/student_comment_filter/Dockerfile
    container_name: student-comment-filter3
    entrypoint: /filter
    restart: on-failure
    depends_on:
      rabbitmq:
        condition: service_healthy
    links:
      - rabbitmq
    networks:
      - tp2_net
    volumes:
      - ./config.json:/config.json
    environment:
      - LOAD_BALANCE=4
      - PROCESS_GROUP=student_comment_filter
      - ID=0
      - ID=1
      - ID=2
      - ID=3
  
networks:
  tp2_net:
    name: "tp2_net"
    ipam:
      driver: default
      config:
        - subnet: 172.25.125.0/24
